.home{
    width: 100%;
    height: 190vh;
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(222,224,84,1) 100%, rgba(242,248,71,1) 100%);
}

.promo{
    position:absolute;
    top: 200px;
    left: 50%;
}

.NavbarHome{
  z-index:4;
} 

.carruselHome{
  z-index: 1;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
      font-size: 35px;
      padding-top: 9rem;
      padding-bottom: 3%;
}

.animate-charcter2
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
      font-size: 35px;
      padding-top: 4rem;
      padding-bottom: 3%;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 3;
  position: relative;;
}
