.containerProductos{
    margin: 0%;
    width: 100%;
    height: 190vh;
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(222,224,84,1) 100%, rgba(242,248,71,1) 100%);
}

.MotoBusqueda{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 40px;
    top: 200px;
    background-color: dimgray;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 13px;
    text-align: center;
}

.words{
    padding: 10px 0px 10px 0px;
    color: aliceblue;
}

.busq{
    padding: 15px 0px 10px 0px;
    color: aliceblue;
}

.BusBusqueda{
    position: absolute;
    width: 180px;
    height: 180px;
    left: 40px;
    top: 415px;
    background-color: dimgray;
    border-radius: 13px;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
}

.futer{
    position: absolute;
    top:1050px;
    width: 100%;
}

.tarjetas{
    padding-top: 20px;
    border: 2px solid rgb(0, 0, 0);
    height: 52em;
    width: 77%;
    position: absolute;
    top: 32%;
    left: 20%;
    box-shadow: 2px 2px 10px rgb(36, 36, 36);
    border-radius: 10px;

}

.nabvitar{
    position: absolute;
    border-radius: 10px;
    width: 94%;
    top: 35px;
    left: 3%;
    border: 6px solid rgb(39, 39, 39);

}